html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(128, 128, 128);

    font-family: Calibri;
    font-size: 1.2vmax;

    color: rgb(222, 222, 222);
}

a {
    $c:  rgb(255, 255, 255);

    color: $c;
    text-decoration: underline;
    text-decoration-color: $c;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

main {
    height: 100vh;

	display: flex;
    flex-flow: column nowrap;
    gap: 1em;

	align-items: center;
	justify-content: center;
	text-align: center;

	overflow-y: auto;
}

#logo {
	width: 45vmax;
	display: block;

	margin: 0 auto;
	padding: 0;

	text-align: center;
}

#wavy-text {
	margin-top: 0.5em;
	animation: fade-in 3s;
    text-align: center;

    > span {
	    display: inline-block;
	    margin-right: 0.1em;
	    animation: wavy 2s ease-in-out infinite;

        &.space {
            margin-left: 1ex;
        }

        @for $i from 1 through 18 {
            &:nth-of-type(#{$i}) {
	            animation-delay: #{calc(($i - 1) / 10.0)}s;
            }
        }
    }
}

@keyframes wavy {
	0% {
		transform: translateY(0em);
	}

	50% {
		transform: translateY(-0.5em);
	}

	100% {
		transform: translateY(0em);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

header {
    position: absolute;
    top: 0;

    width: 100vw;
    font-size: 1.5rem;

    padding: 1em;
    box-sizing: border-box;

    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }
}

footer {
    position: absolute;
    bottom: 1em;

    width: 100vw;
    text-align: center;

    font-size: 0.8rem;
}

#demos {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;

    > div {
        display: flex;
        flex-flow: column nowrap;

        > a {
            order: 10;
        }

        img {
            max-width: 256px;
            height: auto;
        }

        > h2 {
            order: 20;
        }
    }
}
