@font-face {
    font-family: Stilu;
    src: url("/assets/Stilu-Regular.otf") format("opentype");
}

html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    background: rgb(128, 128, 128);
    color: rgb(255, 255, 255);

    font-family: Stilu;
    font-size: 16pt;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;

    z-index: -1000;

    width: 100vw;
    height: 100vh;

    background-image: url("/assets/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: contrast(150%) blur(5px);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

main {
    width: 100vw;

    position: fixed;
    left: 50vw;
    top: 50vh;

    transform: translateX(-50%);

    padding: 1em;

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#logo {
    width: 45vmax;

    display: block;

    margin: 0 auto;
    padding: 0;

    text-align: center;
}

@keyframes wavy {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5em);
    }

    100% {
        transform: translateY(0);
    }
}

header {
    padding: 1em;
}

header>a {
    text-decoration: none;
}

footer {
    position: fixed;
    left: 50vw;
    bottom: 0;

    transform: translateX(-50%);

    display: flex;
    flex-flow: row nowrap;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em 1em 0 0;

    padding: 1em 32px;
    gap: 32px;

    animation: fade-in forwards linear 2s;
}

@keyframes fade-in {
    0%, 10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
