html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(128, 128, 128);

    font-family: Calibri;
    font-size: 1.5vmax;

    color: rgb(255, 255, 255);
}

main {
    height: 100vh;

	display: flex;
    flex-flow: column nowrap;
    gap: 1em;

	align-items: center;
	justify-content: center;
	text-align: center;

	overflow-y: auto;
}

img#logo {
	width: 45vmax;
	display: block;

	margin: 0 auto;
	padding: 0;

	text-align: center;
}

div#wavy-text {
	margin-top: 0.5em;
	animation: fade-in 3s;
    text-align: center;

    > span {
	    display: inline-block;
	    margin-right: 0.1em;
	    animation: wavy 2s ease-in-out infinite;

        &.space {
            margin-left: 1ex;
        }

        @for $i from 1 through 18 {
            &:nth-of-type(#{$i}) {
	            animation-delay: #{calc(($i - 1) / 10.0)}s;
            }
        }
    }
}

@keyframes wavy {
	0% {
		transform: translateY(0em);
	}

	50% {
		transform: translateY(-0.5em);
	}

	100% {
		transform: translateY(0em);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

footer {
    position: absolute;
    bottom: 1em;

    width: 100vw;
    text-align: center;

    font-size: 0.6em;
}
