{% extends "base.j2" %}

{% block title %}Demos{% endblock %}

{% block main %}
    <h1>Our demos</h1>
    <div id="demos">
        {% for name, img, href in [("Bombswab", "/assets/bombswab.png", "https://bombswab.schwungus.software")] %}
            <a href={{ href }}>
                <div>
                    <h2>{{ name }}</h2>
                    <img src={{ img }} alt={{ name }}>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
