{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <meta name="description"
          content="Schwungus Software is all about making games, tools, and game engines. Make sure to check out PNEngine, HQEngine, and Bombswab!">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Schwungus Software",
        "url": "https://schwungus.software",
        "logo": "https://schwungus.software/assets/logo_visible.png",
        "email": "contact@schwungus.software"
    }
    </script>
{% endblock %}

{% block main %}
    <img id="logo" src="/assets/logo.png" alt="Schwungus Software logo"></img>
    <h1 id="wavy-text">Under construction</h1>
    <script src="/assets/index.js"></script>
    <div id="check-out">Meanwhile, check out our <a href="/demos.html">demos</a>!</div>
{% endblock %}

{% block footer %}
    <a href="/docs" style="color: inherit">Looking for docs?</a>
{% endblock %}
