$bg: rgb(128, 128, 128);
$bg1:  rgb(80, 80, 80);
$bg2: rgb(111, 111, 111);

$fg: rgb(222, 222, 222);

$mobile-width: 640px;

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content
    }
}

html, body {
    padding: 0;
    margin: 0;

    z-index: -100;
}

html {
    background: $bg;
    color: $fg;

    font-family: Calibri;
    font-size: 18px;

    @include mobile {
        font-size: 16px;
    }
}

a {
    $c: rgb(255, 255, 255);

    color: $c;
    text-decoration: underline;
    text-decoration-color: $c;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

body {
    background: $bg;
    height: 100vh;

	display: flex;
    flex-flow: column nowrap;

	align-items: center;
	justify-content: space-between;
	text-align: center;

	overflow-y: auto;
}

main {
    flex: 1 1;

	display: flex;
    flex-flow: column nowrap;
    gap: 1em;

	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

#logo {
	width: 45vmax;
	display: block;

	margin: 0 auto;
	padding: 0;

	text-align: center;
}

#wavy-text {
	margin-top: 0.5em;
	animation: fade-in 3s forwards;
    text-align: center;

    > span {
        $len: 18;

        font-size: #{100 / ($len + 1)}vmin;

        display: inline-block;
        margin-right: 1px;
        animation: wavy 2s ease-in-out infinite;

        &.space {
            margin-left: 1ex;
        }

        @for $i from 1 through $len {
            &:nth-of-type(#{$i}) {
	            animation-delay: #{($i - 1) / 10.0}s;
            }
        }
    }
}

@keyframes wavy {
	0% {
		transform: translateY(0em);
	}

	50% {
		transform: translateY(-0.5em);
	}

	100% {
		transform: translateY(0em);
	}
}

#check-out {
    padding: 1em;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.7em;

    background: $bg2;
}

header {
    background: $bg1;
    width: 100vw;

    padding: 1em;
    box-sizing: border-box;

    font-size: 1.5rem;

    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;

    a {
        text-decoration: none;
    }
}

footer {
    background: $bg1;
    width: 100vw;

    padding: 1em;
    box-sizing: border-box;

    text-align: center;

    font-size: 0.8rem;
}

#demos {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;

    > a {
        text-decoration: none;
    }

    div {
        display: flex;
        flex-flow: column nowrap;

        padding: 1em;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.7em;

        background: $bg2;

        img {
            max-width: 256px;
            height: auto;
            order: 10;
        }

        > h2 {
            margin: 0;
            order: 20;
        }
    }
}

.wait-for-icons {
    opacity: 0;
}

.fontawesome-i2svg-complete .wait-for-icons {
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
