/* Proper logo display. */

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 80%;
}

/* Patches over the base theme. */

body, .markdown-section strong, .anchor span, .sidebar ul li a {
	color: white;
}

.markdown-section code {
	background-color: rgb(70, 70, 70);
	color: white;
}

.markdown-section a {
	color: inherit;
}

.sidebar-toggle {
	background-color: rgb(128, 128, 128);
}

.sidebar-nav ul {
	text-align: left;
	margin-left: 1rem;
}

.sidebar-nav > ul {
	text-align: center;
	margin: 0;
	width: 100%;
}

.app-nav a, .anchor {
	transition: none;
}

.markdown-section a > span {
	color: rgb(210, 210, 210);
}

.markdown-section h1 {
	margin: 0;
}

.markdown-section h1 span {
	font-size: 2.5rem;
	color: white;
}

.markdown-section h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.75rem;
	width: 100%;
	text-align: left;
	border-bottom: solid 1px white;
}

.markdown-section h3 {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	width: 100%;
	text-align: left;
	border-bottom: solid 1px rgba(255, 255, 255, .5);
}

.markdown-section h4 {
	margin: 0;
	font-size: 1.25rem;
}

th {
	background: rgb(128, 128, 128);
}

td {
	background: rgb(96, 96, 96);
}

.sidebar-nav ul > li {
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
}

.sidebar-nav ul > li > a {
	font-size: 1.1rem;
	text-decoration: none;
}

.sidebar-nav ul > li.active > a {
	color: white;
	font-weight: bold;
}

.sidebar-nav ul > li > a:hover {
	text-decoration-line: none;
}

.app-sub-sidebar li::before {
	font-size: 1.1rem;
	content: "—";
	color: white;
}

.anchor:hover {
	text-decoration-color: white;
}

.sidebar {
	padding-top: 10px;
	background-color: rgb(128, 128, 128);
}

.sidebar-toggle-button > span {
	background-color: white;
}

body {
	background-color: rgb(96, 96, 96);
}
